---
import { ViewTransitions } from 'astro:transitions';

import Footer from '@/partials/Footer.astro';
import Navbar from '@/partials/Navbar.astro';
import { AppConfig } from '@/utils/app-config';

export interface Props {
  head: {
    title: string;
    description: string;
  };
}

const {
  head: { title, description },
} = Astro.props as Props;
---

<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    color-scheme: dark;
  }

  .animate-delay-2000 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  .animate-fill-forwards {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
</style>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="author" content={AppConfig.author} />

    <link rel="alternate" type="application/rss+xml" href="/rss.xml" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <ViewTransitions />
  </head>
  <body class="bg-[#050716] bg-hero-pattern bg-center bg-repeat text-gray-100">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
