---
import type { CollectionEntry } from 'astro:content';

import BlogCard from './BlogCard.astro';

interface Props {
  posts: CollectionEntry<'blog'>[];
}

const { posts = [] } = Astro.props as Props;
---

<div class="grid grid-cols-1 gap-6 md:grid-cols-3">
  {posts.map(post => <BlogCard post={post} />)}
</div>
