---
import { Picture } from 'astro-imagetools/components';
import { format } from 'date-fns';

import type { Content } from '@/types';
import { AppConfig } from '@/utils/AppConfig';

import Section from './Section.astro';

type Props = {
  content: Content;
};

const { content } = Astro.props as Props;
---

<Section>
  <h1 class="text-center text-3xl font-bold">{content.title}</h1>
  <div class="mt-2 text-center text-sm text-gray-400">
    By {AppConfig.author} on {format(new Date(content.pubDate), 'LLL d, yyyy')}
  </div>
  <div class="mx-auto mt-5 max-w-prose">
    <Picture aspect={1.5} src={content.imgSrc} alt={content.imgAlt} loading="lazy" />
    <div class="prose prose-invert mt-8 prose-img:rounded-lg">
      <slot />
    </div>
  </div>
</Section>
