---
import type { MarkdownInstance } from 'astro';

import type { Content } from '@/partials/BlogPost.astro';
import BlogCard from './BlogCard.astro';

interface Props {
  posts: MarkdownInstance<Content>[];
}

const { posts = [] } = Astro.props as Props;
---

<div class="grid grid-cols-1 gap-6 md:grid-cols-3">
  {posts.map(post => <BlogCard post={post} />)}
</div>
