---
import { AppConfig } from "@/utils/app-config";

import Section from "./Section.astro";
---

<Section>
  <div class="border-t border-gray-600 pt-5">
    <div class="text-sm text-foreground">
      © Built with ♥ by {AppConfig.site_name}.
    </div>
  </div>
</Section>
