---
import type { ReactNode } from 'react';

type Props = {
  title?: ReactNode;
};

const { title } = Astro.props as Props;
---

<div class="mx-auto max-w-screen-lg px-3 py-6">
  {title && <div class="mb-6 text-2xl font-bold">{title}</div>}
  <slot />
</div>
